body{
    margin: 0;
    font-family: 'Inter', sans-serif;;
}

header{

    margin: 0 auto;
}

.logo {
    display: block;
    color: #0bbbd3;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    padding: 28px 0;
}

.logo > span{
    color: black;
}

.banner{
    background-image: url("../img/bg.jpeg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.banner > div{
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 64px;
    padding: 24% 12%;
    background-position: 6% 53%;
}

.content{
    width: 300px;
    background: gray;
}

