@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 10px;
    --fonts : 'PT Sans', sans-serif
}
body{
    font-size: 2rem;
    font-family: var(--fonts);
}
header{
    position:sticky;
    top: 0;
}
.header{
    background-color: #202846;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

.nav{
    min-width: 60%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav a{
    color: white;
    text-decoration: none;
    cursor: no-drop;
    transition: all .2s; 
}

.nav a:hover{
    color: #AEAEE2;
}

/*
@media screen and (max-width: 1000px) {
    :root{
        --fonts : 'Roboto', sans-serif;
        font-size: 7px;
    }

    .nav{
        min-width: 80%;
    }

    img{
        max-width: 50px;
    }
}
*/


