a{
    text-decoration: none;
    color: #354657;
}
.header{
   /*color: #156629;  0-f*/ 
   /*color: rgb(0, 0, 255); */ /*0-255*/
   /*color: red;*/
   /*color: hsl(100, 100%, 50%);*/
   color: #354657;
   /*
   text-transform: uppercase; 
   letter-spacing: 0px;
    word-spacing: 38px;
   */
   padding-bottom: 18px;
   border-bottom: 1px solid #E2E2E2;
}
.cards{
    max-width: 1200px;
    margin: 0 auto;
}


.card{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 10px 10px 33px yellow, -10px -10px 33px blue;
    height: 500px;
}

.card__img{
    width: 100%;
}

.margin-left-right{
    margin-right: 4.5%;
    margin-left: 4.5%;
}
.card__btn{
    border: 2px solid #946FD3;
    width: 150px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 28px;
}